.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    font-size: 10px;
    margin-right: 20px;
}

@media screen and (min-width:700px) {
    .tag {
        width: 130px;
        font-size: 14px;
    }
}